src/main/mule/paysampleapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c13da8ec-08e9-42c3-9e7c-6d51b2a15709" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="paysampleapiFlow" doc:id="9bbbf38a-1579-431b-bed9-8f5f8d40be12" >
		<http:listener doc:name="Listener" doc:id="82f6344f-9900-4f58-9b80-abcfde038bf7" config-ref="HTTP_Listener_config" path="/pay" allowedMethods="post"/>
		<logger level="INFO" doc:name="Logger" doc:id="c2ca5571-5459-4a43-ae43-8720999814fc" message='#["method success"]'/>
	</flow>
</mule>
